$color-btn: #9dd458;
$color-border: #d3d3d3;
$color-text-primary: #000;
$color-text-additional: #5c5c5c;
$color-text-additional-light: #bdbdbd;
$color-light: #fff;
$color-bg-page: #e7f6ff;

$desktop-width: 1080px;

$laptop-width: 940px;
$tablet-width: 600px;
$mobile-width: 300px;

$laptop-breakpoint: 1599px;
$tablet-breakpoint: 999px;
$mobile-breakpoint: 639px;
