.btn {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  color: $color-light;
  font-weight: 500;
}

.filter__btn-reset {
  margin-bottom: 15px;
}
