.cart {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 305px);
}

.cart-items {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.cart-empty,
.cart-order__completed {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
