.carDescr {
  position: relative;
  min-height: 150px;
  display: flex;
  padding: 15px;
  padding-top: 30px;
  padding-left: 0px;
  border-radius: 15px;
  overflow: hidden;
}

.carDescr__imgbox {
  display: inline-flex;
  align-items: center;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 400px;
  //   height: 100%;
  //   width: 1px;
  //   border-right: 1px solid $color-border;
  // }

  .carDescr_arrow {
    width: 35px;
    height: 35px;
    border-radius: 43px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
  }

  .left {
    background-image: url(../../../public/img/arrow_left.svg);
  }

  .left:hover {
    background-image: url(../../../public/img/arrow_left_active.svg);
  }

  .right {
    background-image: url(../../../public/img/arrow_right.svg);
    margin-right: 15px;
  }

  .right:hover {
    background-image: url(../../../public/img/arrow_right_active.svg);
  }
}

.carDescr_imagewindow {
  display: flex;
  width: 400px;
  height: 300px;
  overflow: hidden;
  justify-content: center;
}

.carDescr__imgContainer {
  position: relative;
  display: flex;
  left: 0px;
}

.carDescr__img {
  min-width: 400px;
  min-height: 300px;
  // margin-right: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @extend %transition;

  .prev {
    transform: translateX(-100%);
  }

  .next {
    transform: translateY(100%);
  }
}

.card-list__center {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carDescr__title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carDescr__desc {
  line-height: 2rem;
  display: inline-block;
  margin-bottom: 20px;
  font-style: italic;
}

.card-list__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: auto;
}

.carDescr__property {
  display: flex;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3rem;

  .carDescr__propertyName {
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-text-additional;
    margin-right: 5px;
  }

  .carDescr__propertyText {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
  }
}

.carDescr__breadcrumbs {
  color: $color-text-additional;
}

.carcarDescr__samplecolor {
  width: 20px;
  height: 20px;
  // background-color: green;
  position: relative;
  margin: 5px;
}
