footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: $color-text-primary;

  .footer__left {
    display: flex;
    align-items: center;
  }

  .footer__center {
    display: flex;
    align-items: center;

    img {
      @extend %transition;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .footer__right {
    display: flex;
    align-items: center;
  }

  .footer__author {
    padding-left: 10px;
  }

  li {
    padding-bottom: 5px;
  }
}
