.items__panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

  select {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid $color-border;
    border-radius: 5px;
    padding: 5px 10px;
    padding-right: 35px;
    font-size: 1.6rem;
    color: $color-text-additional;
    z-index: 2;
    @extend %transition;
  }
}

.items__title {
  width: 80px;
  font-weight: 700;
  font-size: 2rem;
  color: $color-text-additional;
}

.items__total {
  color: $color-text-additional-light;
}

.items__sort {
  position: relative;
  cursor: pointer;
}

.sort {
  width: 185px;
}

.sort__label {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    height: 14px;
    width: 22px;
    // background: url('../../../public/img/sort-arrow.svg') no-repeat center;
    z-index: 1;
    @extend %transition;
  }

  // &:hover::after {
  //   background: url('../../../public/img/sort-arrow-active.svg') no-repeat center;
  // }

  &:hover select {
    border: 1px solid $color-btn-check;
  }
}

.sort__popup {
  position: absolute;
  width: 180px;
  border: 1px solid $color-border;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  @extend %transition;

  li:hover {
    color: $color-btn-check;
    @extend %transition;
  }

  .active {
    color: $color-btn-check;
  }
}

.items__view {
  display: flex;
  justify-content: space-between;
}

.search-block {
  display: flex;
  position: relative;

  input {
    display: block;
    height: 40px;
    width: 280px;
    font-size: 1.6rem;
    border: 1px solid $color-border;
    border-radius: 5px;
    padding: 0 30px;
    @extend %transition;

    &:hover,
    &:focus {
      border: 1px solid $color-btn-check;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  .search__reset {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 11;
    cursor: pointer;

    &:hover > .close-line {
      background-color: $color-btn-check;
    }
  }

  .close-line {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: $color-text-additional-light;
    @extend %transition;
  }

  .close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.view-list,
.view-table {
  width: 40px;
  height: 40px;
  background-image: url('../../../public/img/view-list.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-image: url('../../../public/img/view-list-active.svg');
  }
}

.view-table {
  margin-left: 10px;
  background-image: url('../../../public/img/view-table-active.svg');
  @extend %transition;

  &:hover {
    background-image: url('../../../public/img/view-table-active.svg');
  }
}
