.notfound__text {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.notfound__textPlace {
  color: $color-text-primary;
  font-weight: 900;
  font-size: 6vw;
  font-family: Arial;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
}

.notfound__pagePlace {
  color: rgb(117, 29, 29);
}
