.wrapper {
  max-width: $desktop-width;
  margin: 0 auto;

  @include media-laptop {
    max-width: $laptop-width;
  }

  @include media-tablet {
    max-width: $tablet-width;
  }

  @include media-mobile {
    max-width: $mobile-width;
  }
}
